<h1>Create a new proposal</h1>
<div>
  <form #proposalForm="ngForm">
    <div class="form-group">
      <label for="customer">Customer Name:</label>
      <input type="text" id="customer" placeholder="ABC Company"
             required name="customer"
             #customer="ngModel"
             [(ngModel)]="proposal.customer">
    </div>

    <div [hidden]="customer.valid || customer.pristine">
      Customer name is required
    </div>

    <div class="form-group">
      <label for="portfolio_url">Portfolio url:</label>
      <input type="text" id="portfolio_url"
             required name="portfolio_url"
             #portfolio_url="ngModel"
             [(ngModel)]="proposal.portfolio_url">
    </div>

    <div [hidden]="portfolio_url.valid || portfolio_url.pristine">
      Portfolio url is required
    </div>

    <div class="form-group">
      <label for="tools">Tools:</label>
      <input type="text" id="tools" placeholder="RoR, Angular, etc"
             required name="tools"
             #tools="ngModel"
             [(ngModel)]="proposal.tools">
    </div>

    <div [hidden]="tools.valid || tools.pristine">
      Tools is required
    </div>

    <div class="form-group">
      <label for="estimated_hours">Estimated hours:</label>
      <input type="number" id="estimated_hours"
             required name="estimated_hours"
             #estimated_hours="ngModel"
             [(ngModel)]="proposal.estimated_hours">
    </div>
    <div [hidden]="estimated_hours.valid || estimated_hours.pristine">
      Estimated hours is required
    </div>

    <div class="form-group">
      <label for="hourly_rate">Hourly rate:</label>
      <input type="number" id="hourly_rate"
             required name="hourly_rate"
             #hourly_rate="ngModel"
             [(ngModel)]="proposal.hourly_rate">
    </div>

    <div [hidden]="hourly_rate.valid || hourly_rate.pristine">
      Hourly rates is required
    </div>

    <div class="form-group">
      <label for="weeks_to_complete">Weeks to complete</label>
      <input type="number" id="weeks_to_complete"
             required name="weeks_to_complete"
             #weeks_to_complete="ngModel"
             [(ngModel)]="proposal.weeks_to_complete">
    </div>

    <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine">
       Weeks to complete is required
    </div>

    <div class="form-group">
      <label for="client_email">Client email</label>
      <input type="email" id="client_email"
             name="client_email"
             #client_email="ngModel"
             [(ngModel)]="proposal.client_email">
    </div>


  </form>
</div>

<div>
  <p>Hi {{proposal.customer}},</p>

  <p>This is a proposal! checkout my portfolio <a href="{{proposal.portfolio_url}}" target="_blank">here</a></p>

  <p>I'll be using {{proposal.tools}}</p>
  <p>It'll take {{proposal.estimated_hours}} hours. The project should take {{proposal.weeks_to_complete}}
    weeks to complete</p>
  <p>My hourly rate of {{proposal.hourly_rate}}/hour, gives an estimated total of
    {{proposal.hourly_rate*proposal.estimated_hours}}</p>
</div>
